.Store {
  text-align: center;
  .coins {
    margin: 20px 0 5px 0;
    text-align: center;
    div {
      display: inline-block;
      border: 1px solid black;
      border-radius: 2px;
      padding: 4px 10px;
    }
  }
  .storeItems {
    padding: 0 10px;
    margin: 10px 0;
    .storeItem {
      padding: 15px 0;
      .itemBox {
        display: inline-block;
        padding: 8px 14px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: whitesmoke;
        .avatar {
          width: 70px;
          height: 70px;
          .avatarMouth {
            background-color: whitesmoke;
          }
        }
      }
      .itemName {
        font-size: 20px;
        padding: 2px 0;
      }
      .itemSelectedText {
        margin-top: 12px;
        font-weight: bold;
      }
      .itemButton {
        margin-top: 10px;
        div {
          display: inline-block;
          border: 1px solid gray;
          border-radius: 5px;
          padding: 1px 10px;
          cursor: pointer;
          &:hover {
            background-color: whitesmoke;
          }
        }
      }
    }
  }
}
