.Arena-mobile {
  flex-direction: column;
  align-items: center;
  .arenaBox {
    height: 100vw !important;
    width: 100vw !important;
  }
}

.Arena {
  display: flex;
  justify-content: space-around;
  .arenaBox {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100vh;
    border: 3px solid black;
    position: relative;
    .player {
      z-index: 3;
      position: absolute;
      width: 4%;
      height: 4%;
      z-index: 3;
      text-align: center;
      .playerName {
      }
    }
    .avatar {
      // Otherwise, avatar mouth overlaps with arena border
      overflow: hidden;
    }
    .stunnedPlayer {
      animation: spin 0.4s infinite linear;
      opacity: 25%;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .Speed {
      box-shadow: 0 0 5px 5px yellow, 0 0 15px 15px rgba(255, 255, 15, 0.5);
    }
    .Eat {
      box-shadow: 0 0 5px 5px green, 0 0 15px 15px rgba(0, 100, 0, 0.5);
    }
    .Shoot {
      box-shadow: 0 0 5px 5px red, 0 0 15px 15px rgba(255, 0, 15, 0.5);
    }

    .food {
      position: absolute;
      height: 2%;
      width: 2%;
      border: 1px solid rgb(177, 177, 177);
      border-radius: 50%;
      background-color: whitesmoke;
    }
    .powerup {
      z-index: 2;
      position: absolute;
      display: inline-block;
      height: 3%;
      width: 3%;
      border: 2px solid black;
      background-color: black;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .powerupIcon {
        color: white;
        font-size: 90%;
      }
    }
    .shot {
      position: absolute;
      height: 1%;
      width: 1%;
      border: 0.5px solid black;
      border-radius: 50%;
      background-color: red;
      box-shadow: 0 0 5px 5px red, 0 0 15px 15px rgba(255, 0, 15, 0.5);
    }
  }
  .leaderboard {
    text-align: center;
    max-width: 400px;
    padding: 20px 0;
    .leaderboardTitle {
      font-weight: bold;
      font-size: 20px;
      text-decoration: underline;
    }
    .playerInfo {
      .healthBar {
        position: relative;
        display: inline-block;
        border: 1px solid black;
        width: 100%;
        height: 20px;
      }
      .innerHealthBar {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: lightseagreen;
        border-right: none;
        height: 18px;
        // Width is calculated in Arena.js
      }
    }
  }

  .bottomRight {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
