.Lobby {
  margin: 0 auto;
  padding-top: 50px;
  max-width: 700px;
  text-align: center;
  // border: 1px solid pink;
  .title {
    font-size: 36px;
  }
  .lobbyInfoRow {
    padding: 10px 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    .spawnRate {
      margin-left: 5px;
    }
    .powerupIcon {
      margin-left: 8px;
    }

    .gameCode {
      font-weight: bold;
    }
  }
  .playerList {
    font-size: 20px;
    height: 60vh;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 10px;
    // Make the div scrollable
    overflow-y: auto;
    .playerRow {
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 10px 10px;
      text-align: left;
      border: 1px solid gray;
      border-radius: 10px;
      line-height: 1;
      background-color: white;
      .avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
  .playerCount {
    text-align: end;
    margin-bottom: 20px;
  }
  .lobbyBottom {
    font-size: 20px;
    .hostButtons {
      display: flex;
      justify-content: space-around;
    }
    .nonHostMessage {
      padding-top: 25px;
    }
  }
}
