.About {
    padding: 20px 40px;
    .description {
        font-size: 20px;
    }

    .title {
        font-size: 22px;
        text-align: center;
        border-bottom: 1px solid gray;
        padding: 15px 0 5px 0;
    }
    .subtitle {
        font-weight: bold;
        font-size: 14px;
        padding-top: 20px;
    }

    .howToPlay {
        .powerupRow {
            padding: 10px 0;
            display: flex;
            align-items: center; 
            .powerupBox {
                display: inline-block;
                min-height: 35px;
                min-width: 35px;
                max-height: 35px;
                max-width: 35px;
                border: 2px solid gray;
                border-radius: 5px;
                display: flex; 
                align-items: center; 
                justify-content: center;
                .powerupIcon {
                    color: black;
                }
            }    
            .powerupDescription {
                padding-left: 10px;
            }
        }
    }

    .techStack {
        .toolRow {
            padding: 5px 0;
        }
    }
}


@media only screen and (max-width: 600px) {
    .About {
        padding: 20px 0px;
    }
}
  