// Adapted from https://codepen.io/nxworld/pen/zwGpXr
.splashScreen{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading {
    font-size: 84px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    span {
      display: inline-block;
      margin: 0 -.05em;
    }
  }

  .loading08 {
  span {
    position: relative;
    color: rgba(#000, .2);
    animation: loading08-parent 5s infinite;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-text);
      color: #fff;
      opacity: 0;
      animation: loading08-child 5s infinite;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i+1})::after {
        animation-delay: #{$i*.2}s;
      }
    }
  }
}
@keyframes loading08-parent {
  0%, 35%, 100% {
    color: rgba(#000, .2);
  }
  60%, 80% {
    color: #fff;
  }
}
@keyframes loading08-child {
  0% {
    opacity: 1;
  }
  25%, 100% {
    opacity: 0;
  }
}